body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    float: left;
    width: 100%;
    height: 47px;
}

.content {
    float: left;
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
}

.header li {
    float: left;
    border-right: 1px solid #bbb;
}

.header li:last-child {
    border-right: none;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a.activo {
    background-color: coral;
}

.header li a:hover {
    background-color: coral;
}

